.admin-container {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.ad{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.admin-sidebar {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6; /* 가로형 네비바 구분선 */
    padding: 10px 0; /* 상하 여백 추가 */
}

.admin-sidebar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-sidebar ul li {
    margin: 0 20px; /* 좌우 간격 */
    cursor: pointer;
    font-weight: bold;
    color: #495057;
}

.admin-sidebar ul li:hover {
    color: #007bff;
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
}